@{
    ViewData["Title"] = "Service Metrics";
}

<h2>Index</h2>

<p>Services Metrcis</p>

<table>
    <tr>
        <th>Services</th>
        <th>Quality Profile</th>
        <th>Coverage</th>
        <th>Number of Lines</th>
        <th>total Tests</th>
        <th>Passed Tests</th>
        <th>Bugs</th>
        <th>Code Smells</th>
        <th>Vulnerabilities</th>
        <th>Duplication</th>
        <th>Complexity</th>
        <th>Documentation</th>
        <th>Reliability</th>        

    </tr>
  
</table>